*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100vw;

}


:root {
    --x: 200px;
    --y: 100px;
    --shape:100px;
}


main{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

video{
object-fit: cover;
height: 100%;
width: 100%;
overflow: hidden;
position: relative;
}
.effect{
  position:absolute;
  inset:0;
  pointer-events:none;

  background: radial-gradient(
    circle var(--shape) at var(--x) var(--y),
    rgba(255,255,255,0.4) 0%,
    rgba(255,255,255,0.15) 30%,
    rgba(0,0,0,0.7) 100%
    
  );
  transition: 0.1s ease-out;
    transition: background-position 0.08s linear;


}